.ficha{
    width: 100px;
    height: 100px;
    background-color: darkslategrey;
    border-style: solid;
    border-color: grey;
    border-radius:50px;
}

.press{
    width: 100px;
    height: 100px;
    background-color: blue;
    background-image: url("../images/circle-dark.svg");
}




